<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Login &mdash; Stisla</title>

    {% include 'link_css.html' %}

    {% block css %}
    {% endblock %}
    <style>
        .error-msg {
            width: 100%;
            margin-top: .25rem;
            font-size: 80%;
            color: #dc3545;
        }
    </style>

    <!-- Start GA -->
    {#    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>#}
    {#    <script>#}
    {#        window.dataLayer = window.dataLayer || [];#}
    {##}
    {#        function gtag() {#}
    {#            dataLayer.push(arguments);#}
    {#        }#}
    {##}
    {#        gtag('js', new Date());#}
    {##}
    {#        gtag('config', 'UA-94034622-3');#}
    {#    </script>#}
    <!-- /END GA --></head>

<body>
<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                {% block content %}
                {% endblock %}

            </div>
        </div>
</div>


</section>
</div>

{% include 'head_script.html' %}

{% block js %}
{% endblock %}
<script>
    $(function () {
        $("#valid_img").on("click", reloadVaildImg);

        $(".login").on("click", login)

    });

    function reloadVaildImg() {
        var timestamp = (new Date()).getTime();
        $("#valid_img").attr("src", "{% url 'get_valid_img' %}" + "?tc=" + timestamp)
    }

    function login() {

        $("form input").each(function () {
            $(this).removeClass("is-invalid")
            $(this).next(".error-msg").text("")
        })


        let v_code = $("#v_code").val();
        let pwd = $("#password").val();
        let user = $("#username").val();
        let token = $('input[name=csrfmiddlewaretoken]').val();
        let rmb = $('input[name=remember]').prop("checked");
        //console.log("rmb",rmb)

        if (!v_code || !pwd || !user) {
            return;
        }
        let data = {
            username: user,
            password: pwd,
            v_code: v_code,
            remember: rmb,
            csrfmiddlewaretoken: token

        };
        $.ajax({
            url: "",
            dataType: "json",
            data: data,
            type: "post",
            success: function (res) {
                console.log("res", res);
                if (res.code === -1) {
                    $("form").removeClass("was-validated");
                    reloadVaildImg()
                    for (let k in res.msg) {
                        let input = $(`input[name=${k}]`);
                        input.addClass("is-invalid");
                        input.next(".error-msg").text(res.msg[k][0]);

                        {#console.log($(`input[name=${k}]`).next(".error-msg"))#}
                    }
                    console.log("res.msg", res.msg)
                } else if (res.code === 1000) {
                    location.href = "/"
                }

            }
        })

    }

</script>
</body>
</html>