{% extends 'account_base.html' %}

{% block content %}

    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <div class="login-brand">
            <img src="/static/stisla-2.2.0/img/stisla-fill.svg" alt="logo" width="100"
                 class="shadow-light rounded-circle">
        </div>

        <div class="card card-primary">
            <div class="card-header"><h4>重置密码</h4></div>

            <div class="card-body">
                <p class="text-muted">重新设置一个密码</p>
                <form method="POST" class="needs-validation" novalidate="">
                    {% csrf_token %}

                    {% for field in form %}

                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% if field.name == 'password' %}
                                <div id="pwindicator" class="pwindicator">
                                    <div class="bar"></div>
                                    <div class="label"></div>
                                </div>
                            {% endif %}
                            <span class="error-msg">{{ field.errors.0 }}</span>
                        </div>
                    {% endfor %}
                    {#                    <div class="form-group">#}
                    {#                        <label for="password">New Password</label>#}
                    {#                        <input id="password" type="password" class="form-control pwstrength"#}
                    {#                               data-indicator="pwindicator" name="password" tabindex="2" required>#}
                    {#                        <div id="pwindicator" class="pwindicator">#}
                    {#                            <div class="bar"></div>#}
                    {#                            <div class="label"></div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {##}
                    {#                    <div class="form-group">#}
                    {#                        <label for="password-confirm">Confirm Password</label>#}
                    {#                        <input id="password-confirm" type="password" class="form-control" name="confirm-password"#}
                    {#                               tabindex="2" required>#}
                    {#                    </div>#}

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                            重置
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}
{% block js %}
    <script src="/static/stisla-2.2.0/modules/jquery-pwstrength/jquery.pwstrength.min.js"></script>
    <script>

        $(".pwstrength").pwstrength({
            texts: ['超级弱', '很弱', '一般', '强', '很强']
        });

        {% if res.code == 1000 %}
            swal("提示", "{{ res.msg }}", "success").then(
                function () {
                    location.href = "{% url 'account:login' %}"
                }
            );
        {% elif res.code == -1%}
            swal("提示", "{{ res.msg }}", "error")
        {% endif %}
        //$(".pwstrength").pwstrength();
    </script>
{% endblock %}