<!-- General JS Scripts -->
<script src="/static/stisla-2.2.0/modules/jquery.min.js"></script>
{#<script src="/static/stisla-2.2.0/modules/popper.js"></script>#}
{#<script src="/static/stisla-2.2.0/modules/tooltip.js"></script>#}
<script src="/static/stisla-2.2.0/modules/bootstrap/js/bootstrap.min.js"></script>
{#<script src="/static/stisla-2.2.0/modules/nicescroll/jquery.nicescroll.min.js"></script>#}
{#<script src="/static/stisla-2.2.0/modules/moment.min.js"></script>#}
<script src="/static/stisla-2.2.0/js/stisla.js"></script>

<!-- JS Libraies -->
<script src="/static/stisla-2.2.0/modules/sweetalert/sweetalert.min.js"></script>
<!-- Page Specific JS File -->

<!-- Template JS File -->
<script src="/static/stisla-2.2.0/js/scripts.js"></script>
<script src="/static/stisla-2.2.0/js/custom.js"></script>