<!-- General CSS Files -->
<link rel="stylesheet" href="/static/stisla-2.2.0/modules/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/stisla-2.2.0/modules/fontawesome/css/all.min.css">

<!-- CSS Libraries -->
<!--<link rel="stylesheet" href="/static/stisla-2.2.0/modules/bootstrap-social/bootstrap-social.css">-->

<!-- Template CSS -->
<link rel="stylesheet" href="/static/stisla-2.2.0/css/style.css">
<link rel="stylesheet" href="/static/stisla-2.2.0/css/components.css">

{# 也可以这种方式{% load static %}#}
{#    <link rel="stylesheet" href="{% static 'stisla-2.2.0/modules/bootstrap/css/bootstrap.min.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'stisla-2.2.0/modules/fontawesome/css/all.min.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'stisla-2.2.0/modules/bootstrap-social/bootstrap-social.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'stisla-2.2.0/css/style.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'stisla-2.2.0/css/components.css' %}">#}